@charset "UTF-8";

body{
    margin: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;

    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 40px;
}

.header{
    background-color: gray;
    color:rgb(240, 240, 90);
    grid-column: 1/ -1;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: left;
}

.back-btn{
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: start;
    font-size: 24px;
    padding: 30px 40px;
}

.subject {
    grid-column: 1;
    grid-row: 2;
}

/*上段右*/
.subject_3 {
    grid-column: 2;
    grid-row: 2;
}

/*下段左*/
.subject_1 {
    grid-column: 1;
    grid-row: 3;
}

/*下段右*/
.subject_2 {
    grid-column: 2;
    grid-row: 3;
}

.button{
  grid-column: 1 / -1;
  grid-row: 5;
  justify-self: center;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  border-radius: 10px;
  background-color: #7CE877;
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.styled:hover {
  background-color: #32cd32;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}


ul {
    list-style: none; 
    padding-left: 0;
    margin: 0 0 12px 0;
}

ul li {
    font-size: 24px;     
    font-weight: normal;  
    color: #000;
}


ul li::before {
    content: "・ ";
}


input[type="text"],
textarea {
    width: 100%;
    box-sizing: border-box; 
    
    background-color: #d9d9d9; 
    border: 2px solid #000;  
    border-radius: 16px;       
    
    padding: 16px 20px;
    font-size: 20px;
    outline: none; 
}


textarea {
    height: 200px;
    resize: vertical;
}

input[type="text"] {
    height: 60px; 
}


textarea {
    height: 220px; 
    resize: vertical;
}


input[type="text"]::placeholder,
textarea::placeholder {
    color: #ffffff;
    opacity: 1; 
}



